.main
{
    width: 100%;
    height: 100%;
    display: flex;
}
a 
{
    text-decoration: none;
}
.grid
{
    display: grid;
    width: calc(100vw - 72px);
    grid-template-columns: 240px auto 240px;
    grid-template-rows: 46px auto 52px;
    grid-template-areas: 
    'SN CI CI'
    'CL CD UL'
    'UI CD UL';
    height: 100vh;
}
.channelData_wrapper
{
    grid-area: CD;
}