.container
{
    grid-area: SN;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 11px 0px 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
    z-index: 2;
}
.title
{
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
}