.container
{
    position: relative;
    grid-area: SN;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
    z-index: 2;
}
.title
{
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
}
.container .expand_icon
{
    cursor: pointer;
    user-select: none;
    font-size: 22px;
    color: white;
}
.container .option
{
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.container .option p
{
    color: white;
    font-size: 14px;
    font-weight: 500;
}
.container .option .icon
{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.container .option:hover
{
    background-color: var(--link);
}
.modal_container
{
    width: 450px;
}
.menu_container
{
    width: 450px;
    margin: 0 auto;
}
.modal_container .title
{
    text-align: center;
    color: black;
}
.modal_container .title p
{
    color: rgb(96, 96, 96);
}
.modal_container .content
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal_container .content form
{
    margin: 20px 0px 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.modal_container .content form label
{
    font-size: 12px;
    font-weight: bold;
    color: rgb(96, 96, 96);
}
.modal_container .content form input
{
    margin: 10px 0px 10px 0px;
    height: 45px;
    font-size: 18px;
    font-weight: lighter;
    padding: 0px 8px 0px 8px;
    background-color: rgb(198, 198, 198);
    color: rgb(69, 69, 69);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.modal_container .content form input::placeholder
{
    font-weight: lighter;
}
.modal_container .content form button
{
    cursor: pointer;
    width: 200px;
    height: 40px;
    margin: 20px auto 5px auto;
    color: white;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--discord);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.modal_container .content form button:hover
{
    background-color: #5e73b9;
}
.modal_container .content .user_list
{
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.modal_container .content form .user_list_item
{
    padding: 0px 10px;
    border-radius: 8px;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.modal_container .content form .user_list_item input
{
    margin: 0px;
}
.modal_container .content form .user_list_item:hover
{
    background-color: var(--quinary);
}
.modal_container .content form .user_list_item > div
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_container .content form .user_list_item > div strong
{
    margin-left: 10px;
    color: var(--white);
}
.modal_container .content form .user_list_item .avatar
{
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    background-color: var(--primary);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.modal_container .content form .user_list_item label
{
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.modal_container .content form .user_list_item label span
{
    color: var(--white);
    position: absolute;
}
.modal_container .content form input[type='checkbox']
{
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 1px solid var(--server-green);
    width: 60px;
    height: 30px;
    color: white;
}
.modal_container .content form input[type='checkbox']:checked
{
    background-color: var(--server-green);
}
.modal_container .content form input[type='checkbox']:hover,
.modal_container .content form .user_list_item label:hover
{
    background-color: var(--server-green);
}
.modal_container .content .server_icon
{
    margin: 20px 0px 20px 0px;
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid rgb(74, 74, 74);
    border-style: dashed;
}