.container
{
    grid-area: CI;
    display: flex;
    align-items: center;
    padding: 0px 17px;
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
    z-index: 1;
}
.hastagIcon
{
    font-size: 24px;
    font-weight: bold;
    color: var(--symbol);
}
.title
{
    margin-left: 9px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.separator
{
    height: 24px;
    width: 1px;
    background-color: var(--white);
    opacity: 0.2;
    margin: 0px 13px;
}
.description
{
    font-size: 15px;
    color: var(--gray);
}
.friends
{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.friends .friends_icon
{
    font-size: 22px;
    color: var(--senary);
    margin-right: 8px;
}
.friends p
{
    font-size: 14px;
    color: var(--white);
    font-weight: bold;
}
.container .friends_button
{
    font-weight: bold;
    cursor: pointer;
    color: var(--senary);
    font-size: 14px;
    padding: 4px 6px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 10px;
}
.container .friends_button:hover
{
    background-color: var(--chat-input);
    color: var(--white);
}