.grid
{
    display: grid;
    width: calc(100vw - 72px);
    grid-template-columns: 240px auto 240px;
    grid-template-rows: 46px auto 52px;
    grid-template-areas: 
    'SN CD CD'
    'CL CD CD'
    'UI CD CD';
    height: 100vh;
}