.container
{
    margin-top: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background: transparent;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
}
.container:hover
{
    background-color: rgba(255, 255, 255, 0.1);
}
.container > strong
{
    margin-left: 23px;
    font-weight: 500;
    color: var(--white);
    opacity: 0.7;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.avatar
{
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    background-color: var(--primary);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}