
.container
{
  grid-area: CD;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary);
}

.messages
{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 46px - 68px);
  overflow-y: scroll;
}
.messages::-webkit-scrollbar 
{
  width: 8px;
}
.messages::-webkit-scrollbar-thumb 
{
  background-color: var(--tertiary);
  border-radius: 4px;
}
.messages::-webkit-scrollbar-track 
{
  background-color: var(--secondary);
}

.input_wrapper
{
  width: 100%;
  padding: 0 16px 20px;
}

.input
{
  width: 100%;
  height: 44px;
  padding: 0 10px 0 20px;
  border-radius: 7px;
  color: var(--white);
  background-color: var(--chat-input);
  position: relative;
}
.input::placeholder 
{
    color: var(--gray);
}
