.backdrop
{
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: transparent;
    position: fixed;
    user-select: none;
    z-index: 3;
}
.dropdown
{
    position: absolute;
    background-color: #151515;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.dropdown.server_name
{
    margin: auto;
    top: 50px;
    padding: 8px;
    width: 230px;
    left: 75px;
}
.dropdown.user_info
{
    bottom: 60px;
    padding: 8px;
    left: 50px;
    width: 340px;
    z-index: 3;
    padding: 6px;
    background: linear-gradient(to top, red, rgba(255, 0, 0, 0.2), #151515, #151515);
}