.dropdown
{
    position: absolute;
    top: 50px;
    padding: 8px;
    width: 90%;
    margin: auto;
    background-color: #151515;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}