.container
{
    position: relative;
    display: flex;
    align-items: center;
    padding: 4px 16px;
    margin-right: 4px;
    background-color: transparent;
}
.container.mention 
{
    background-color: var(--mention-message);
    border-left: 2px solid var(--mention-detail);
    padding-left: 14px;
}
.container + div 
{
    margin-top: 13px;
}
.avatar
{
    width: 40px;
    height: 40px;
    background-color: var(--secondary);
    border-radius: 50%;
}
.avatar.bot 
{
    background-color: var(--mention-detail);
}

.message
{
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 17px;
}

.header
{
  display: flex;
  align-items: center;
}
.time 
{
    margin-left: 6px;
    color: var(--gray);
    font-size: 13px;
}
.header > strong 
{
    color: var(--white);
    font-size: 16px;
}
.header > span 
{
    margin-left: 6px;
    background-color: var(--discord);
    color: var(--white);
    border-radius: 4px;
    padding: 4px 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}
.content
{
  text-align: left;
  font-size: 16px;
  color: var(--white);
}
.options
{
    opacity: 0;
}
.container:hover
{
    background-color: #2b2d3034;
}
.container:hover .options
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    opacity: 1;
    width: 100px;
    height: 25px;
    right: 10px;
    top: -15px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
