.modal
{
    width: 100vw;
    height: 100vh;
    background-color: var(--primary);
    color: #1e1e1e;
    padding: 40px 200px 0px 200px;
    position: absolute;
    top: 0px;
    left: -72px;
}
.modal .modal_close
{
    --size: 35px;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    border: none;
    color: var(--gray);
    position: absolute;
    top: 40px;
    right: 200px;
    display: flex;
}